In [5]:
import pandas as pd
from pandas import TimedeltaIndex
import datetime

In [15]:

df = pd.DataFrame(TimedeltaIndex(['0 days 00:00:00', '0 days 00:00:00', '0 days 00:00:00',
            '0 days 00:00:00', '0 days 01:10:00', '0 days 01:20:00',
            '0 days 01:00:00', '0 days 01:00:00', '0 days 02:50:00',
            '0 days 02:00:00', '0 days 02:00:00'],
           dtype='timedelta64[ns]', freq=None))

df

                 0
0  0 days 00:00:00
1  0 days 00:00:00
2  0 days 00:00:00
3  0 days 00:00:00
4  0 days 01:10:00
5  0 days 01:20:00
6  0 days 01:00:00
7  0 days 01:00:00
8  0 days 02:50:00
9  0 days 02:00:00
10 0 days 02:00:00

In [16]:
df['hours'] = df[0].dt.components['hours']
df['minutes'] = df[0].dt.components['minutes']

In [17]:
df

                 0  hours  minutes
0  0 days 00:00:00      0        0
1  0 days 00:00:00      0        0
2  0 days 00:00:00      0        0
3  0 days 00:00:00      0        0
4  0 days 01:10:00      1       10
5  0 days 01:20:00      1       20
6  0 days 01:00:00      1        0
7  0 days 01:00:00      1        0
8  0 days 02:50:00      2       50
9  0 days 02:00:00      2        0
10 0 days 02:00:00      2        0